.item {
    width: 150px;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--gris-bg);
    border: 1px solid var(--text-color-second);
    cursor: pointer;
    transition: background-color 300ms ease-out, color 300ms ease-out;
}


@media screen and (min-width: 1280px) {
    .item {
        width: 130px;
    }
}

.item>label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}



.item:hover,
.item:focus {
    background-color: var(--my-green);
    color: var(--my-white);
    border: 1px solid var(--my-green);
}


.checked {
    background-color: var(--my-green);
    color: var(--my-white);
    border: 1px solid var(--my-green);
}


.icon_wrapper {
    background-color: var(--my-white);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}

.icon_check {
    fill: var(--my-green);
}

.checkbox_hidden {
    display: none;
}